@charset "utf-8";

* {box-sizing:border-box;     background-color: rgb(255, 229, 143);
}

body{
    background-color: rgb(255, 230, 147);
}

.cabecalho{
    width:100%
}

.tiles{
    background-color: rgb(255, 115, 0);
    height: 200px;
    width: 100%;
    
}

.center{
    position: relative;
}

.center img:nth-child(1){
    position: absolute;
    width: 12%;
    top: 20px;
    left: 25%;
    background: none;
}

.center img:nth-child(2){
    position: absolute;
    top: 100px;
    left: 60%;
    transform: translate(-50%, -50%);
    background: none;
}

.center .restrito{
    position: absolute;
    top: 10px;
    right: 50px;
    transform: translate(-50%, -50%);
    background: none;
    transition: .5s;
}

.center .restrito img{
    transition: .5s;
}

.center .restrito img:hover{
    transform-origin: center center;
    transform: scale(1.5);

}

.navbar{
    background-color: rgb(255, 0, 0);
    text-decoration: none;


}

.navbar-nav{
    position:relative;

}

.navbar *{
    background-color: rgb(255, 0, 0);

}

.nav-link{
    color: white;
    font-weight: bold;
    transition: .5s;
}

.nav-link:hover{
    color: rgb(199, 199, 199);
    background-color: rgb(202, 0, 0);
    font-weight: bold;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    transition: .5s;
}

.navbar-brand:hover{
    color: rgb(199, 199, 199);
    font-weight: bold;
}

.cadastro{
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 30px;
    padding: 10px;
    background: none;
    font-weight: bold;
    transition: .5s ease;
    right: 20px;
}

.cadastro a{
    color: white;
    background: none;
}

.cadastro:hover{
    background-color: rgb(168, 6, 6);
}

.cadastro a:hover{
    text-decoration: none;
    color: white;
}

.conteudo{
    padding: 50px;
}

.info{
    z-index: 10;
    padding-top: 100px;
    padding-bottom: 0px;
    display: table;
}

.hot_dog{
    float: left;
    width: 50%;
}

.info h1{
    text-align: center;
}

.hot_dog img{
    width: 70%;
}

.info .text{
    float: right;
    width: 50%;
    font-size: 36px;
    padding-right: 50px;
}

.frase{
    height: 880px;
    z-index: 10; 
    background: url(../img/bolha.svg) no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
}

.frase .text{
    margin-top: 100px;
    float: right;
    width: 50%;
    font-size: 36px;
}

.frase h2{
    font-size: 32px;
    opacity: 50%;
}

.rodape{
    width: 100%;
    padding-top: 0px;
    padding: 50px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 0, 0);
    z-index: 10;
}

.rodape *{
    background-color: rgb(230, 0, 0);
    color: rgb(255, 255, 255);
}

.rodape h2{
    font-size: 18px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

.rodape hr{
    border: 1px solid rgb(255, 255, 255);
}


.rodape .toproda{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px
}

.rodape .roda img{
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
    transition: .3s ease
}

.rodape .redes a{
    transition: .3s ease

}

.rodape .redes a:hover{
    color: rgb(204, 204, 204);
}

.rodape .roda img:hover{
    transform: scale(1.5);
    opacity: 75%;
}

.pessoas {
	font-weight: bold;
	font-size: 15pt;
	
}

.pessoas img{
	height: 15pt;
	
}




