{% extends "delphone/base_generic.html" %}

{% load static %}

{% block content %}         
<div>
  <h1 class="titulo">Acesso Restrito</h1>
  <p id="subtitulo">Complete com suas informações</p>
  <br>
</div>	    
<!-- Formulário de login -->
<form>
  <label for="email">
    <span>Email</span>
    <input type="email" id="email" name="email">
  </label>
  <label for="password">
    <span>Senha</span>
    <input type="password" id="password" name="password">
  </label>
  <input type="submit" value="Entrar" id="button">
</form>
{% endblock %}