<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% block title %}<title>DelPhone</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
	<!-- CSS da página -->
    <link href="{% static 'delphone/style.css' %}" rel="stylesheet">
	<!-- CSS do Bootstrap -->
    <link rel="stylesheet" href="{% static 'delphone/bootstrap/bootstrap.min.css' %}">
    <link rel="sortcut icon" href="{% static 'delphone/img/logotipo.png' %}">
    <script src="{% static 'delphone/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'delphone/jquery/popper.min.js' %}"></script>
    <script src="{% static 'delphone/interaction.js' %}"></script>
    <script src="{% static 'delphone/bootstrap/bootstrap.min.js' %}"></script>
</head>
<body>

    {% include 'delphone/cabecalho.html' %}

    <div>
    {% block content %}{% endblock %}
    </div>

    {% include 'delphone/rodape.html' %}

</body>
</html>