{% extends "delphone/base_generic.html" %}

{% load static %}

{% block content %}   
        
<div>
  <h1 class="titulo">Cadastro de Empresas</h1>
  <p id="subtitulo">Complete com suas informações</p>
  <br>
</div>

	<!-- Formulário de Cadastro -->
        <form>
            <label for="name">
                <span>Nome da Empresa</span>
                <input type="text" id="name" name="name">
            </label>

            <label for="email">
                <span>Email</span>
                <input type="email" id="email" name="email">
            </label>

            <label for="phone">
              <span>Celular: (com DDD)</span>
              <input type="tel" id="phone" name="phone" placeholder="(12) 34567-8912" pattern="([0-9]{2})[0-9]{5}-[0-9]{4}" required>
            </label>
            
            <label for="enderecoempresa">
              <span>Endereço da Empresa</span>
              <input type="text" id="enderecoempresa" name="enderecoempresa" placeholder="Rua e n°">
            </label>

            <label for="horariodefuncionamento">
              <span>Horário de Funcionamento</span>
              <input type="text" id="horariodefuncionamento" name="horariodefuncionamento" placeholder="Ex.: 12:34 - 23:45">
            </label>

            <label for="tipodeempresa">
              <span>Setor</span>
              <input type="text" id="tipodeempresa" name="tipodeempresa" placeholder="Ex.: Alimentação ou Vestiário.">
            </label>

            <input type="submit" value="Cadastrar" id="button">

        </form>
{% endblock %}